fastapi==0.109.2
uvicorn[standard]==0.27.1
redis==5.0.1
pymongo==4.6.1
pydantic==2.6.1
python-dotenv==1.0.1
requests==2.31.0

colorama==0.4.6
Pillow==10.4.0
readerwriterlock==1.0.9
tls_client==1.0
typing_extensions==4.12.2
validators==0.33.0
websockets==12.0
pyotp==2.9.0
beautifulsoup4
spotapi[websocket,redis,mongo]
